{{/*  <p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>  */}}

<footer class="main-footer @@extraClassName">
	<div class="main-footer__bg" style="background-image: url(/assets/images/shapes/footer-bg-1-1.png);"></div>
	<!-- /.main-footer__bg -->
	<div class="container">
		<div class="main-footer__top row">
			<div class="col-lg-4 col-sm-5">
				<div class="main-footer__logo-box">
					<img src="/assets/images/footer-logo-dark.png" alt="logo-dark" class="main-footer__logo">
				</div><!-- /.main-footer__logo-box -->
			</div>
			<div class="col-lg-8 col-sm-7">
				{{/*  <ul class="main-footer__social">
					<li class="main-footer__social-item">
						<a href="https://facebook.com" class="main-footer__social-link"><i class="fab fa-facebook-f"></i></a>
					</li>
					<li class="main-footer__social-item">
						<a href="https://youtube.com" class="main-footer__social-link"><i class="fab fa-youtube"></i></a>
					</li>
				</ul>  */}}
				<!-- /.main-footer__logo-box -->
			</div>
			<div class="col-12">
				<div class="main-footer__line"></div><!-- /.main-footer__line -->
			</div><!-- /.col-12 -->
		</div><!-- /.main-footer__top -->
		<div class="row gutter-y-40">
			{{/*  <div class="col-lg-3 col-md-4 col-sm-6 col-xl-2 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
				<div class="footer-widget footer-widget--links">
					<h2 class="footer-widget__title">Company</h2><!-- /.footer-widget__title -->
					<ul class="footer-widget__links">
						<li><a href="about.html">About Us</a></li>
						<li><a href="blog.html">Community Blog</a></li>
						<li><a href="destinations.html">Destinations</a></li>
						<li><a href="our-guide.html">Meet the Guide</a></li>
						<li><a href="contact.html">Contact Now</a></li>
					</ul><!-- /.footer-widget__links -->
				</div><!-- /.footer-widget -->
			</div>  */}}
			<!-- /.col-md-6 -->
			{{/*  <div class="col-lg-3 col-md-4 col-sm-6 col-xl-2 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
				<div class="footer-widget footer-widget--links">
					<h2 class="footer-widget__title">Explore</h2><!-- /.footer-widget__title -->
					<ul class="footer-widget__links">
						<li><a href="login.html">Account</a></li>
						<li><a href="tour-listing-1.html">Tour Listings</a></li>
						<li><a href="contact.html">Privacy Policy</a></li>
						<li><a href="faq.html">Help</a></li>
					</ul><!-- /.footer-widget__links -->
				</div><!-- /.footer-widget -->
			</div>  */}}
			<!-- /.col-md-6 -->
			<div class="col-lg-8 col-md-8 col-xl-8 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
				<div class="footer-widget footer-widget--contact">
					<h2 class="footer-widget__title">Contact</h2><!-- /.footer-widget__title -->
					<ul class="footer-widget__info">
						<li> <i class="icon-phone-1"></i> <a href="tel:+81-80-6004-4862">+81-80-6004-4862</a></li>
						<li> <i class="icon-envelope"></i> <a href="mailto:hello@omorotabi.com">hello@omorotabi.com</a></li>
					</ul><!-- /.footer-widget__info -->
				</div><!-- /.footer-widget -->
			</div><!-- /.col-md-6 -->
			<div class="col-lg-7 col-xl-4 wow animated fadeInUp" data-wow-delay="0.7s" data-wow-duration="1500ms">
				<div class="footer-widget footer-widget--newsletter">
					<h2 class="footer-widget__title">Naujienraštis</h2><!-- /.footer-widget__title -->
					<form name="newsletter" class="footer-widget__newsletter-form" netlify netlify-honeypot>
						<input type="email" name="emailAddress" id="footer-widget__newsletter-input" placeholder="Email Address" class="footer-widget__newsletter-input" required="true">
						<button type="submit" class="footer-widget__newsletter-btn trevlo-btn trevlo-btn--base-three"><span>Prenumeruoti</span></button>
					</form><!-- /.footer-widget__newsletter-form -->
					<div class="mc-form__response"></div><!-- /.mc-form__response -->
				</div><!-- /.footer-widget -->
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
	<div class="main-footer__bottom">
		<div class="container">
			<div class="main-footer__bottom-inner">
				<p class="main-footer__copyright">
					&copy; Omorotabi <span class="dynamic-year"></span> 
				</p>
			</div><!-- /.main-footer__inner -->
		</div><!-- /.container -->
	</div><!-- /.main-footer__bottom -->
</footer><!-- /.main-footer -->

</div><!-- /.page-wrapper -->

<div class="mobile-nav__wrapper">
<div class="mobile-nav__overlay mobile-nav__toggler"></div>
<!-- /.mobile-nav__overlay -->
<div class="mobile-nav__content">
	<span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

	<div class="logo-box">
		<a href="index.html" aria-label="logo image"><img src="/assets/images/logo-dark.png" width="155" alt="" /></a>
	</div>
	<!-- /.logo-box -->
	<div class="mobile-nav__container"></div>
	<!-- /.mobile-nav__container -->

	<ul class="mobile-nav__contact list-unstyled">
		<li>
			<i class="fa fa-envelope"></i>
			<a href="mailto:hello@omorotabi.com">hello@omorotabi.com</a>
		</li>
		<li>
			<i class="fa fa-phone-alt"></i>
			<a href="tel:+81-80-6004-4862">+81-80-6004-4862</a>
		</li>
	</ul><!-- /.mobile-nav__contact -->
	{{/*  <div class="mobile-nav__social">
		<a href="https://twitter.com">
			<i class="fab fa-twitter" aria-hidden="true"></i>
			<span class="sr-only">Twitter</span>
		</a>
		<a href="https://facebook.com">
			<i class="fab fa-facebook" aria-hidden="true"></i>
			<span class="sr-only">Facebook</span>
		</a>
		<a href="https://pinterest.com">
			<i class="fab fa-pinterest-p" aria-hidden="true"></i>
			<span class="sr-only">Pinterest</span>
		</a>
		<a href="https://instagram.com">
			<i class="fab fa-instagram" aria-hidden="true"></i>
			<span class="sr-only">Instagram</span>
		</a>  */}}
	</div><!-- /.mobile-nav__social -->
</div>
<!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->
{{/*  <div class="search-popup">
<div class="search-popup__overlay search-toggler"></div>
<!-- /.search-popup__overlay -->
<div class="search-popup__content">
	<form role="search" method="get" class="search-popup__form" action="#">
		<input type="text" id="search" placeholder="Search Here..." />
		<button type="submit" aria-label="search submit" class="search-popup__btn trevlo-btn trevlo-btn--base">
			<span class="icon-search"></span>
		</button>
	</form>
</div>
<!-- /.search-popup__content -->  */}}

<div class="search-popup">
	<div class="search-popup__overlay search-toggler"></div>
	<!-- /.search-popup__overlay -->
	<div class="search-popup__content">
		Jusu uzklausa priimta
	</div>
	<!-- /.search-popup__content -->

</div>
<!-- /.search-popup -->

<a href="#" data-target="html" class="scroll-to-target scroll-to-top">
<span class="scroll-to-top__text">Viršun</span>
<span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
</a>


<script src="/assets/vendors/jquery/jquery-3.7.0.min.js"></script>
<script src="/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/assets/vendors/jarallax/jarallax.min.js"></script>
<script src="/assets/vendors/jquery-ui/jquery-ui.js"></script>
<script src="/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
<script src="/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
<script src="/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
<script src="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
<script src="/assets/vendors/nouislider/nouislider.min.js"></script>
<script src="/assets/vendors/tiny-slider/tiny-slider.js"></script>
<script src="/assets/vendors/wnumb/wNumb.min.js"></script>
<script src="/assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
<script src="/assets/vendors/owl-carousel/js/owlcarousel2-filter.min.js"></script>
<script src="/assets/vendors/wow/wow.js"></script>
<script src="/assets/vendors/tilt/tilt.jquery.js"></script>
<script src="/assets/vendors/simpleParallax/simpleParallax.min.js"></script>
<script src="/assets/vendors/imagesloaded/imagesloaded.min.js"></script>
<script src="/assets/vendors/isotope/isotope.js"></script>
<script src="/assets/vendors/countdown/countdown.min.js"></script>
<script src="/assets/vendors/daterangepicker-master/moment.min.js"></script>
<script src="/assets/vendors/daterangepicker-master/daterangepicker.js"></script>
<script src="/assets/vendors/jquery-circleType/jquery.circleType.js"></script>
<script src="/assets/vendors/jquery-lettering/jquery.lettering.min.js"></script>
<!-- template js -->
<script src="/assets/js/init.js"></script>

